.destaque{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 100vw;
    height: 500px;
    margin: 40px 0;
    padding: 10px;
    text-transform: capitalize;
}
.conteudo-destaque{
    background: #a7a7eb59;
    width: 95vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 10px;
}
.conteudo-destaque button{
    border: none;
    padding: 8px;
    border-radius: 10px;
}
.conteudo-destaque button:hover{
    background-color: antiquewhite;
    cursor: pointer;
    transition: all 1s;
}