@media(max-width:1140px) {
    .card-receita{
        width: 45%;
    }
}
@media(max-width:800px) {
    .card-receita{
        width: 80%;
    }
    .ver-receita button{
        width: 40vw;
        padding: 20px;
        font-size: 1.3rem;
    }
    .conteudo-destaque button{
        width: 20vw;
        padding: 15px;
        font-size: 1.3rem;
        margin: 10px 0;
    }
}